@import '../styles';

header {
    background: #5192CC;
    color: #fafafa;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 300;
    h1 {
        padding: 0 $space*2;
    }
    ul {
        background: rgba(255,255,255,.2);
        padding: $space $space*2;
    }
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: $space;
    padding: $space;
}