@import '../../styles';

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100%;
    background: #fafafa;
}

p {
    padding: $space $space*2;
    color: #ccc;
    line-height: 0;
}